body {
  font-size: $font16;
  font-family: $WorkSans-Regular;
}

a {
  &:hover,
  &:focus {
    text-decoration: none;
    outline: none;
  }
}

.business-details {
  font-family: $Nunito-Regular;
  background-color: $green74;

  a {
    color: $white;
  }
  .fa {
    color: $blue36;
  }

  &__contact {
    .contact-details {
      span {
        font-family: $Nunito-Light;
        text-transform: uppercase;
      }

      &__title {
        font-family: $Nunito-Bold !important;
      }
    }

    .inline-content {
      text-transform: uppercase;
      margin-right: 0;
      span {
        display: inline;
      }
    }
  }

  &__search {
    text-transform: uppercase;
  }

  &__social {
    .fa {
      padding: rem-calc(5);
      max-width: 29px;
      width: 100%;
      text-align: center;
      color: $white;
    }
    .fa-facebook {
      background-color: $bleu60;

    }
    .fa-twitter {
      background-color: $bleu93;
    }
    .fa-youtube {
      background-color: $red80;
    }
    .fa-linkedin {
      background-color: $bleu71;
    }
    .fa-google-plus {
      background-color: $red86;
    }
  }
}

.navbar-default {
  background-color: $blue36;

  .navbar-nav>li>a {
    text-shadow: none;
    color: $white;
    font-family: $Nunito-Bold;
  }
  .navbar-nav>li:hover {
    color: $white;
    background-color: $blue30;
  }

  .navbar-toggle {
    &:hover,
    &:focus {
      background-color: transparent;
    }
    .icon-bar {
      background-color: $white;
    }
  }
}
.navbar-nav>li {
  padding: rem-calc(26 7);
  text-transform: uppercase;
}

.MIR-logo {
  float: left;
}
.navbar-header {
  float: right;
  background: $blue30;
  padding: rem-calc(30 15);
}
.navbar-toggle {
    margin-right: 0;
    border: none;
}


// Search link
.search__toggle {
  display: none;
  background-color: rgba($black, .7);
  width: 100%;
  height: 100%;
  z-index: 10;


    .form-group {
      margin-bottom: 0;

      .fa {
        position: absolute;
        left: 2%;
        top: 20%;
        font-size: 20px;
        color: $green67;
      }
      input[type="text"] {
        border-radius: 0;
        padding-left: rem-calc(45);
        color: $black;
        border: none;
      }

      ::-webkit-input-placeholder {
        font-size: 13px;
        color: $black;
      }
    }
  }

// Ubermenu

.ubermenu-has-submenu-drop {
  overflow: visible !important;
}

.ubermenu-submenu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ubermenu-item {
  text-align: left;
  vertical-align: top;
}

.ubermenu-target-text {
  display: inline-block;
  vertical-align: middle;
}

.ubermenu-nav a span {
    margin-top: rem-calc(5) !important;
}

// Dropdown Menu
.ubermenu-nav {
    .ubermenu-submenu-drop {
      background-color: $white;
      list-style: none;
      padding: 0;
      margin: 0;
      z-index: 10;
      border-top: 5px solid $bleu60;
      -webkit-box-shadow: 0 1px 5px -1px #D9D9D9;
      box-shadow: 0 1px 5px -1px #D9D9D9;

      &:before, &:after {
        display: table;
        content: " ";
      }

      &:after {
        clear: both;
      }
    }
}

// ---------------------------

.mobile-contact {
  padding-right: 0;
  padding-left: 0;
  text-transform: uppercase;

  a {
    color: $white;
  }

  .phone-contact-left,
  .phone-contact-right {
    background-color: $green74;
    padding: 15px;
    position: absolute;
    z-index: 10;
  }

  .phone-contact-left {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .phone-contact-right {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    right: 15px;
  }
}
