/* Media Query Screen Sizes ------------------------------------------------ */
$xsmall-devices: 480px;
$small-devices: 768px;
$medium-devices: 992px;
$large-devices: 1200px;

/* Fonts / Sizes ----------------------------------------------------------- */
@font-face {
  font-family: "Nunito Regular";
  src: url("../fonts/nunito/Nunito-Regular.ttf") format("opentype");
}
@font-face {
  font-family: "Nunito Bold";
  src: url("../fonts/nunito/Nunito-Bold.ttf") format("opentype");
}
@font-face {
  font-family: "Nunito Light";
  src: url("../fonts/nunito/Nunito-Light.ttf") format("opentype");
}

@font-face {
  font-family: "WorkSans Regular";
  src: url("../fonts/work-sans/WorkSans-Regular.otf") format("opentype");
}
@font-face {
  font-family: "WorkSans Bold";
  src: url("../fonts/work-sans/WorkSans-Bold.otf") format("opentype");
}
@font-face {
  font-family: "WorkSans Light";
  src: url("../fonts/work-sans/WorkSans-Light.otf") format("opentype");
}

$font-default: Arial, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, "Lucida Grande", sans-serif;

$WorkSans-Regular: "WorkSans Regular", $font-default;
$WorkSans-Bold: "WorkSans Bold", $font-default;
$WorkSans-Light: "WorkSans Light", $font-default;

$Nunito-Regular: "Nunito Regular", $font-default;
$Nunito-Bold: "Nunito Bold", $font-default;
$Nunito-Light: "Nunito Light", $font-default;

$font16: 16px;

/* Colors - Naming standardized via www.color-hex.com when appropriate ----- */
$titan-light-blue: rgb(29, 145, 187);
$titan-dark-blue: rgb(15, 59, 96);
$error-red: rgb(204, 0, 0);

$gray13: rgb(33, 33, 33);
$gray27: rgb(70, 70, 70);
$gray60: rgb(153, 153, 153);
$gray72: rgb(184, 184, 184);
$gray87: rgb(221, 221, 221);
$gray98: rgb(250, 250, 250);

$black: rgb(0, 0, 0);
$black14: rgb(35, 31, 32);

$white: rgb(255, 255, 255);
$white84: rgb(215, 215, 215);
$white99: rgb(254, 254, 254);

$green84: rgb(145,214,74);
$green74: rgb(128,189,65);
$green67: rgb(116,172,59);
$green64: rgb(120,163,75);

$blue30: rgb(3,50,76);
$blue36: rgb(3,60,91);
$bleu47: rgb(4,78,119);
$bleu49: rgb(4,82,125);
$bleu60: rgb(59,89,152);
$bleu71: rgb(0,119,181);
$bleu84: rgb(161,195,213);
$bleu93: rgb(85,172,238);

$red80: rgb(205,32,31);
$red86: rgb(220,78,65);



